
code .import{
    color:rgb(0, 255, 140)
}
code .export{
    color:rgb(255, 0, 225)
}

code .return{
    color:rgb(0, 166, 255)
}

code .function{
    color:red
}
code .balise{
    color:rgb(206, 3, 3)
}
code .var{
    color:rgb(149, 71, 71)
}

