.list-articles {
  display: flex;
  flex-direction: column;
  max-width: 1414px;
}

.container_articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: 5px 5px 25px;
  max-width: 850px;
  box-shadow: 0px 7px 17px -14px #190728;
}

.image_articles {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
  height:330px;
  width: 100%;
}

.image_articles img  {
  width: 100%;
}

.text-container_articles {
  max-width: 94%;
  margin-left: 10px;
}

.title_articles {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 20px 0;
  font-family: 'Ubuntu', sans-serif;
  color: #3d3d3d;
}

.content_articles {
  color: #606060;
  font-size: 13px;
  line-height: 1.5;
}

.tags_container{
  display: flex;
}

.tags_articles {
  margin: 8px 5px 8px 0;
  padding: 3px 13px 5px 13px;
  max-width: fit-content;
  border-radius: 8px;
  font-size: 13px;
  background-color: #e8e8e8;
  color: #363636;
}

.tags_articles:hover{
  background-color:#cfcfcf;
}

.flex_separate{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infos_articles {
  display: flex;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  color: #767676;
  margin: 5px 0;
  font-family: 'Lato';
}

@media screen  and (max-width:1024px){
  .flex_separate{
    flex-direction: column;
  }
}

@media screen  and (max-width:760px){
  .image_articles {
    height: 144px;
}
  .title_articles{
    font-size: 16px;
  }
  .infos_articles{
    font-size: 12px;
  }
}
@media screen  and (max-width:460px){
  .title_articles{
    font-size: 13px;
  }
  .infos_articles{
    font-size: 11px;
  }
}