.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: whitesmoke;
    position: fixed;
    z-index: 5;
}

.header:after {
    content: '';
    width: 100%;
    position: absolute;
    height: 4px;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(255,235,0,1) 0%, rgba(183,0,255,1) 100%);
}

.blocConnected * {
    padding-left: 35px;
}

.simulate-bloc{
    width: 226px;
}

.title {
    font-size: 20px;
    font-family: 'Ubuntu';
}

.title span {
    background-color: #064493;
    color: white;
}

.articles_link {
    padding: 9px 20px;
    background: black;
    color: white;
    font-size: 14px;
}