.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background: rgb(222,222,222);
  background: linear-gradient(0deg, rgba(222,222,222,1) 0%, rgba(240,240,240,1) 100%);
}

.h1{
  margin: 35px 0;
}

.paragraphe{
  font-size: 12px;
  text-align: center;
  line-height: 1.7;
}

.articletitle{
  padding: 10px 15px 20px 15px;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.loadingContainer{
  width: 100vw;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingEffect{
  width: 40px;
  height: 40px;
  border:solid 3px rgb(54, 4, 4);
  border-color: transparent rgb(54, 4, 4) transparent rgb(54, 4, 4);
  border-radius:25px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --- Home --- */

.home{
  padding-top:59px;
  min-height: 100vh;
  background: rgb(238,238,238);
  background: linear-gradient(0deg, rgba(238,238,238,1) 0%, rgba(247,247,247,1) 100%);
}

.firstcontenthome{
  height: 450px;
  background-color: #BD1313;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 190px;
  z-index: 4;
  background: linear-gradient(198deg,#BD1313, rgb(0 0 0 / 0%)), radial-gradient(circle at -50% 73%, rgb(4 66 66 / 88%), rgba(0,0,0,0)), linear-gradient(224deg, rgb(255 237 0 / 59%), rgba(255,255,255,0)), url(https://grainy-gradients.vercel.app/noise.svg);
}

.headlinehome{
  color:#FFDE9D;
  font-size:64px;
  z-index: 1;
  margin-bottom: 40px;
  font-family: 'Anonymous Pro', monospace;
}
.sublinehome{
  color:#FFDE9D;
  font-size:18px;
  z-index: 1;
  font-family: 'IBM Plex Mono', monospace;
}

.catimagehome{
  mix-blend-mode: multiply;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index:0;
  user-select: none;
  pointer-events: none;
}

.lineanimationx{
  border-top: dashed black 1px;
  width: 170px;
  position: absolute;
  top: 191px;
  left: 10px;
  font-size: 8px;
  display: flex;
  justify-content: center;
  user-select: none;
  pointer-events: none;
}
.lineanimationy1{
  border-left: dashed black 1px;
  height: 165px;
  position: absolute;
  top: 0;
  left: 190px;
  font-size: 8px;
  display: flex;
  align-items: center;
  padding: 4px;
  user-select: none;
  pointer-events: none;
}
.lineanimationy2{
  border-left: dashed black 1px;
  height: 40px;
  position: absolute;
  top: 220px;
  left: 190px;
  font-size: 8px;
  display: flex;
  align-items: center;
  padding: 4px;
  user-select: none;
  pointer-events: none;
}


@media screen and (max-width:1323px) {
  .firstcontenthome{
    height: 200px;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  .headlinehome{
    font-size:25px;
  }
  .sublinehome{
    font-size:12px;
  }
}

@media screen and (max-width:990px) {
  .main {
    padding: 15px;
    padding-top: 6rem;
  }
}


@media screen and (max-width:690px) {
  .h1{
    font-size:16px;
    margin:30px 0 10px;

  }
}

@media screen and (max-width:590px) {
  .firstcontenthome{
    height: 200px;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  .headlinehome{
    font-size:14px;
  }
  .sublinehome{
    font-size:10px;
    padding:0 60px;
  }
}