.sticky{
    position: sticky;
    right: 6rem;
    top: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 0 0 90px -81px black;
    border-radius: 10px;
    padding-bottom: 15px;
}

.title_rightMenu{
    margin: 35px 0;
    font-size: 24px;
    font-family: 'Ubuntu';
    color: #002549;
    font-weight: 800;
}

[id^="id"] {
    scroll-margin-top: 60px;
}

.right-menu-single-article{
    padding: 15px 25px 15px 45px;
}

.right-menu-single-article li {
    margin: 20px 0;
    list-style-type: disclosure-closed;
    color: #182f3b;
}

.right-menu-single-article li:hover {
    color: rgb(38 117 112);
}

/* --- BLOC RIGHTS ARTICLES BREAKPOINTS --- */

@media screen and (max-width:1480px) {
    .sticky{
        width: 90%;
    }
}
@media screen and (max-width:1280px) {
    .title_rightMenu{
        margin: 25px 0;
        font-size: 18px;
    }
}
