.article h1{
    padding: 0px 0 35px 0;
    font-size: 38px;
    font-family: 'Ubuntu', sans-serif;
}
.article h2{
    padding: 35px 0;
    text-decoration: underline;
    font-weight: 700;
}
.article h3{
    padding: 20px 0 ;
    font-weight: 800;
}

.article {
    color: #474747;
    max-width: 1424px;
    padding: 30px 45px;
    width: 100%;
}

.article pre {
    background-color: #f7f7f7;
    color: #535353;
    padding: 15px 10px;
    max-width: 900px;
    margin: 20px auto;
    border: 1px solid #d5d5d5;
}

.image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image_article {
    max-width: 1024px;
    margin-bottom: 40px;
}

.info_article {
    display: flex;
    width: 100%;
    max-width: 1424px;
    justify-content: space-between;
}

.back_article {
    width: inherit;
    color:rgb(142, 142, 142);
    font-size:14px;
}

.title_article{
    font-family: 'Ubuntu', sans-serif;
    color: #393939;
    display: flex;
    align-items: center;
}

.tags_article {
    color: white;
    border-radius: 25px;
    padding: 4px 13px 6px 13px;
    background: #525795;
    font-size: 14px;
    margin:5px 0;
}

.date_article {
    width: 100%;
    max-width: 1424px;
    text-align: right;
    color: #6e6e6e;
    font-size: 15px;
}

.connected-container {
    width: 100%;
    max-width: 1424px;
    text-align: right;
    margin-bottom: 10px;
}

.connected-container button {
    padding: 5px 10px;
    cursor: pointer;
}

.content_article {
    padding: 0 30px;
}

.article a {
    color: rgb(104, 25, 177);
}

.article p {
    line-height: 1.8;
}

.back-arrow{
    font-family: 'Anonymous Pro';
}

@media screen and (max-width:690px) {
    .article {
        padding: 30px 20px;
    }

    .content_article{
        padding: 10px;
    }

    .article * {
        font-size:13px;
    }

    .article h1{
      font-size:16px;
      margin: 10px 0 ;
    }

    .article h2{
        font-size:15px;
        margin: 10px 0 ;
    }

    .article code {
        font-size:10px;

    }

    .article pre {
        overflow-x: scroll;
    }

    .article li {
        margin:10px 0;
    }
  }
  