.section_container{
    margin: 60px auto 0;
    padding-bottom:30px;
    max-width: 1144px;
}

.section_title {
    font-style: italic;
    color: #b22323;
    font-family: 'Anonymous Pro';
    font-size: 17px;
    margin: 15px 0px;
}

.section_response {
    font-size: 15px;
    margin: 20px 0px 0;
    text-align: justify;
    line-height: 1.7;
    color:rgb(41, 41, 41);
}

@media screen and (max-width:1200px) {
    .section_container{
        margin: 0;
        padding: 60px 30px;
    }
    .section_title {
        font-size: 14px;
    }
    .section_response {
        font-size: 13px;
    }
  }